<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests" verbose="5" data-provider-thread-count="1">
	<test name="Test1">
		<parameter name="path" value="/"/>
		
		<classes>
		    <class name="eglu.TC_CL_0001"/>		  
		</classes>
		
		<classes>
			<class name="eglu.TC_CL_0002"/>
		</classes>
		
		<classes>
			<class name="eglu.TC_CL_0003"/>
		</classes>
	</test>  
</suite>